@media(max-width:800px){
    h1{
        color: red;
    }
} /* التنسيق  على شاشة الطابعة والشاشة  */

@media print{
    h2{
        color: red;
    }
}/* التنسيق فقط على شاشة الطابعة  */
@media screen and (max-width:800px){
    h3{
        color: red;
    }
}/* التنسيق فقط على الشاشة  */



.parent{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.item{
    background: rgb(2, 243, 26);
    height: 100px;
   width: 100px;
}
@media (max-width:600px){
    .parent{
        flex-direction: column;

    }
    .item{
        width: 100%;
        background: red;
    }
}
@media (min-width:601px) and (max-width:992px){
    .parent{
        flex-wrap: wrap;
    }
    .item{
        width: 48%;
        background: blueviolet;
    }
}