body{
    background: rgb(8, 8, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
form{
    background: rgb(48, 48, 222);
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
form input{
    background-color: rgba(14, 14, 185, 0.273);
    color: aliceblue;
    border: none;
    padding: 5px;
    outline: none;
    flex-basis: 200px;
    flex-grow: 1;
}
form button{
    background-color: rgb(7, 7, 197);
    color: azure;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    flex-grow: 1;

}