body{
    background-color: rgb(0, 0, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
   width: 80%;
    background-color: rgb(6, 6, 203);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
form input{
border: none;
background-color: rgb(45, 45, 198);
color: white;
outline: none;
flex-grow: 1; 
outline: none;
padding: 7px;

}
button{
    background-color: rgba(32, 32, 219, 0.784);
    color: aliceblue;
    flex-grow: 1;
    border-radius: 5px;
    border: none;
    cursor: ;
}